<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/clientIO/joint/master/dist/joint.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <style type="text/css">
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    </style>
</head>
<body>
<ul id="slide-out" class="side-nav fixed">
    {% for item in menu %}
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                {% include 'menu.html.twig' with {item: item} %}
            </ul>
        </li>
    {% endfor %}
</ul>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="#!" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#1">Sass</a></li>
                    <li><a href="#2">Components</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>


<main>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</main>
{% block javascript %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".button-collapse").sideNav();
        $(".scrollspy").scrollSpy();
    });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/3.7.0/lodash.min.js"></script>
<script type="text/javascript" src="http://www.samsarin.com/project/dagre/v0.4.6/dagre.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/skanaar/nomnoml/d852a533fa085b7b178726b073276521840bf9e5/dist/nomnoml.js"></script>
{% endblock %}
</body>
</html>
